*{
    font-family: 'Poppins', sans-serif;
}

.fbc-color{
    color: #ff5838;
}
header{
    background: linear-gradient(to top, #ffdacf, #ffffff);
    padding-top: 10px;
    padding-bottom: 10px;
    /* position: sticky;
    top: 0;
    z-index: 2; */
}
.navbar-toggler:focus,
.navbar-toggler:active{
    border: none;
    outline: none;
    box-shadow: none;
}
.banner{
    background-position: center bottom; 
    background-size: cover; 
    min-height: 20em;
}
#navbar-items{
    flex-direction: row-reverse;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #ff5838 !important;
}
.navbar-nav .nav-item .nav-link{
    color: black !important;
    font-weight: 500;
    transition: 0.2s ease;
}
header .navbar-nav .nav-item.active .nav-link{
    color: #ff5838 !important;
    font-weight: 600;
    text-decoration: underline;
}

section.container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.job.card{
    box-shadow: 2px 4px 5px gray;
}
.job.card > div{
    height: 6em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card-img{
    border-radius: 15px;
    overflow: hidden;
}
div.f-cont{
    border-radius: 20px; 
    overflow: hidden; 
    background-color: black; 
    width: 80%;
}
div.img-circle{
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    border: 1px solid white; 
    margin: 0 auto;
    background-size: contain;
    background-position: center;
}
h6.btn-link{
    cursor: pointer;
}



footer{
    position: relative;
    background: linear-gradient(to bottom, black, rgb(53, 53, 53));
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}
footer div.col-12{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .footer-link-hold{
    max-width: fit-content;
    margin: 0 auto;
}
footer div.footer-links span{
    display: block;
    transition: 0.3s ease;
}
div.footer-links span a{
    color: white !important;
    text-decoration: none;
    transition: 0.2s ease;
}
footer div.footer-links span:hover,
div.footer-links a:hover{
    transform: translateX(10px);
    color: #ff5838 !important;
}
footer div.social-links{
    display: flex;
    gap: 1em;
    padding-top: 1em;
    justify-content: center;
}
footer div.social-links span{
    text-align: center;
    width: 34px;
    height: 34px;
    padding: 4px;
    border-radius: 50%;
    transition: 0.2s ease;
}
footer div.social-links span:hover{
    background: #ff5838;
}
footer div.social-links span a{
    text-decoration: none;
    color: white !important;
}


@media (max-width: 768px) {
    div.footer-link-hold{
        width: 100%;
        text-align: center;
    }
    div.blog-tag-switch{
        display: none;
    }
    *{
        font-size: small;
    }
}
